{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Profile</title>
</head>
<body style="background-color:white">
<h1>About Us</h1>
<p1 style="font-size:30px"><i>This is a travelling website created by Shobhika, and i welcome you to it!!!</i></p1>
<br><br>
<style>
p2 {
  font-family: Arial, Helvetica, sans-serif;
}

</style>

<p2><b>‘Tourism’</b> is an online travel website that allows its users to search for the Top destinations in India and
    search for thier trips with Best prices. Different destinations are depicted with the price starting range to
    selectf from. We share best testimonials we've recieved from our clients so far and also help you to book your trip
    in the best dates in year. The Top destinations to visit are Mumbai,Hyderabad, Jaipur...

    <br><br><br>
    So, Come Drop by and let us give a chance to serve you better :)
</p2>
<img alt="Travel to India" src="{% static 'images/taj.jpg' %}" style="float:right;width:1000px;height:360px;">

</body>
</html>