<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta content='IE=edge' http-equiv='X-UA-Compatible'>
    <title>Register</title>
    <meta content='width=device-width, initial-scale=1' name='viewport'>
    <link href='main.css' media='screen' rel='stylesheet' type='text/css'>
    <script src='main.js'></script>
</head>
<body>
<form action="register" method="post">
    {% csrf_token %}

    <input name="first_name" placeholder="First Name" type="text"><br>
    <input name="last_name" placeholder="Last Name" type="text"><br>
    <input name="username" placeholder="Username" type="text"><br>
    <input name="email" placeholder="email" type="email"><br>
    <input name="password1" placeholder="Password" type="password"><br>
    <input name="password2" placeholder="Confirm Password" type="password"><br>
    <input type="Submit">

</form>

<div>
    {% for message in messages %}
    <h3> {{message}} </h3>
    {% endfor %}
</div>

</body>
</html>